# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    #information de la base de données.
    database_host:     ~
    database_port:     ~
    database_name:     ~
    database_user:     ~
    database_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    #Information de la base de données de test
    database_test_host: ~
    database_test_port: ~
    database_test_name: ~
    database_test_user: ~
    database_test_password: ~
